container {
    width: 400px;
    height: 400px;  
    background: green;
    position: relative;
    }

box {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    }
